{% extends "shared/base.html" %}
{% block title %}Home{% endblock %}

{% block body %}

{% include "shared/categories-with-images.html" %}
<!-- hero special carousel: top products -->

<h2>offers</h2>

<!-- offers: several products with top discounts -->

<!-- top categories -->

<!-- coupons: additional percent off from category-->

<!-- coupons: fixed $ off total order over amount -->

<!-- coupons: additional percent off from brand -->

<!-- coupons: free shipping on fk advantage items of brand -->

<!-- top brands -->

<!-- coupons: $ off order from brand -->

<!-- coupons: free shipping on fk advantage items in category -->


{% endblock %}
