<!-- search results page -->
{% extends "shared/base.html" %}
<!-- title -->
{% block title %}Search Results {% endblock %}
<!-- rest is body-->
{% block body %}
<!-- category nav -->
{% include "shared/categories.html" %}

<form action="search">
  <div class="flex">
    <div class="bg-white m-2 shadow-lg rounded-2 basis-1/5">
      <input type="hidden" name="q" {% if params.q %} value="{{  params.q }}" {% endif %} />
      <h3 class="text-lg font-medium border-b-2 border-b-gray-100 p-4">Filters</h3>
      {% if params.categories %}
      <div class="p-4 border-b-2 border-b-gray-100">
        <h4 class="text-xs uppercase font-semibold">Categories</h4>
        {% for category in params.categories %}
        <div class="text-sm p-1 text-gray-800">
          <input type="checkbox" value="{{category}}" id="category-{{category|lower|replace(' ', '-')}}" name="category"
            checked />
          <label for="category-{{category|lower|replace(' ', '-')}}">
            {{category}}
          </label>
        </div>
        {% endfor %}
      </div>
      {% endif %}

      {% if params.brands %}
      <div class="p-4 border-b-2 border-b-gray-100">
        <h4>Brand</h4>
        {% for brand in params.brands %}
        <input type="checkbox" value="{{brand}}" id="brand-{{brand|lower|replace(' ', '-')}}" name="brand" checked />
        <label for="brand-{{brand|lower|replace(' ', '-')}}">{{brand}}</label>
        {% endfor %}
      </div>
      {% endif %}
      <div class="p-4 border-b-2 border-b-gray-100">
        <h4>Price</h4>
        <!-- Select dropdowns instead of number inputs -->
        <label for="min-price">Minimum</label>
        <input type="number" name="min-price" id="min-price" min="0" default="0" />
        <label for="max-price">Maximum</label>
        <input type="number" name="max-price" id="max-price" min="0" />
      </div>
      <div class="p-4 border-b-2 border-b-gray-100">
        <input type="checkbox" id="fk-advantage" name="fk-advantage" {% if params.fk_advantage %} checked {% endif %} />
        <label for="fk-advantage">✅ fk-advantage</label>
      </div>
      <div class="p-4 border-b-2 border-b-gray-100">
        <h4>Customer Ratings</h4>
        <input type="checkbox" id="4-plus" name="ratings" value="4" {% if '4' in params.ratings %} checked {% endif
          %} />
        <label for="4-plus">4 ★ & above</label>
        <input type="checkbox" id="3-plus" name="ratings" value="3" {% if '3' in params.ratings %} checked {% endif
          %} />
        <label for="3-plus">3 ★ & above</label>
        <input type="checkbox" id="2-plus" name="ratings" value="2" {% if '2' in params.ratings %} checked {% endif
          %} />
        <label for="2-plus">2 ★ & above</label>
      </div>
    </div>

    <div class="bg-white m-2 shadow-lg rounded-2 basis-4/5 p-2">

      {% if params.categories %}
        <div class="text-xs text-gray-500 m-2">
        {% for category in params.categories %}
          <span>{{category}} &gt;</span>
        {% endfor %}
        </div>
      {% endif %}

      {% set start = params.page * page_size %}
      <div class="font-semibold m-2">
        Showing {{start + 1}} – {{start + page_size}} of {{ count }} results
        {% if params.q %} for "{{ params.q }}" {% endif %}
      </div>

      <div class="flex text-sm gap-4 m-2">
        <h3>Sort By</h3>
        <input type="radio" value="relevance" id="relevance" name="sort" {% if params.sort=="relevance" or not
          params.sort %} checked {% endif %} />
        <label for="relevance">Relevance</label>
        <input type="radio" value="rating" id="rating" name="sort" {% if params.sort=="rating" %} checked {% endif %} />
        <label for="rating">Rating</label>
        <input type="radio" value="price-low" id="price-low" name="sort" {% if params.sort=="price-low" %} checked {%
          endif %} />
        <label for="price-low">Price - Low to High</label>
        <input type="radio" value="price-high" id="price-high" name="sort" {% if params.sort=="price-high" %} checked {%
          endif %} />
        <label for="price-high">Price - High to Low</label>
        <input type="radio" value="discount" id="discount" name="sort" {% if params.sort=="discount" %} checked {% endif
          %} />
        <label for="discount">Discount</label>
        <input type="submit" value="Search" />
      </div>

      <ul class="4-wide-grid">
        {% for product in products %}

        <li>
          <a href="/products/{{product.id}}">
            <img src="{# product.images[0].url #}" />
            <div>{{ product.name }}</div>
            {% if product.rating is number %}
            <div>{{ product.rating }}</div>
            {% endif %}

            {% if product.flipkart_advantage %}
            <div>✅ Fakekart Advantage</div>
            {% endif %}

            <div>
              <span>{{ product.discounted_price }}</span>
              <span class="strikethrough">{{ product.retail_price }}</span>
              {% if product.discounted_price is number and product.retail_price is number %}
              <span class="green">
                {{ (100 * (1 - product.discounted_price / product.retail_price)) | round | int }}% off
              </span>
              {% endif %}
            </div>
            <div>{{ product.brand }}</div>
          </a>
        </li>

        {% endfor %}
      </ul>

      <!-- Pagination -->
      {% set total_pages = ((count/page_size) | round(0, 'ceil')|int) %}

      {% if total_pages > 1 %}
      <div>Page {{params.page}} of {{ total_pages }}</div>

      {% if params.page > 0 %}
      <a href="{{ request.path }}?{{ request.query_string.decode() }}&page={{ params.page - 1 }}">
        Previous
      </a>
      {% endif %}

      {% for i in range(params.page, ([total_pages, params.page + 10]|min)) %}
      <a class="{% if i == params.page %}font-bold{% endif %}"
        href="{{ request.path }}?{{ request.query_string.decode() }}&page={{ i }}">
        {{i}}
      </a>
      {% endfor %}

      <a href="{{ request.path }}?{{ request.query_string.decode() }}&page={{ params.page + 1 }}">
        Next
      </a>
      {% endif %}

      <div>
        Did you find what you were looking for?
        <button>Yes</button>
        <button>No</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}