<nav>
  <ul>
    <li><a href=""><img src="static/images/grocery.png" />Grocery</a> </li>
    <li><a href=""><img src="static/images/mobiles.png" />Mobiles</a></li>
    <li><a href=""><img src="static/images/fashion.png" />Fashion</a></li>
    <li><a href=""><img src="static/images/electronics.png" />Electronics</a></li>
    <li><a href=""><img src="static/images/home.png" />Home</a></li>
    <li><a href=""><img src="static/images/appliances.png" />Appliances</a></li>
    <li><a href=""><img src="static/images/travel.png" />Travel</a></li>
    <li><a href=""><img src="static/images/top-offers.png" />Top Offers</a></li>
    <li><a href=""><img src="static/images/beauty.png" />Beauty, Toys, and More</a></li>
    <li><a href=""><img src="static/images/two-wheelers.png" />Two Wheelers</a></li>
  </ul>
</nav>