<nav class="w-full px-24 bg-white py-2 border-b-2">
  <ul class="flex justify-around text-sm font-semibold mx-auto">
    <li><a href="/search?category=Electronics">Electronics</a></li>
    <li><a href="/search?category=TVs%20and%20Appliances">TVs and Appliances</a></li>
    <li><a href="/search?category=Men">Men</a></li>
    <li><a href="/search?category=Women">Women</a></li>
    <li><a href="/search?category=Baby%20%26%20Kids">Baby & Kids</a></li>
    <li><a href="/search?category=Home%20%26%20Furniture">Home & Furniture</a></li>
    <li><a href="/search?category=Sports%2C%20Books%2C%20%26%20More">Sports, Books, & More</a></li>
    <li><a href="/search?category=Flights">Flights</a></li>
    <li><a href="/search?category=Offer%20Zone">Offer Zone</a></li>
  </ul>
</nav>